extends ./shared/_master.pug
block append page-content
    script
        include ../controllers/socket-controller.js
    h1.header Chat with strangers
    hr
    div.container
        div.row
            div.col-md-4
                div.well
                    h3 Online users
                    ul.list-group#users
            div.col-md-8
                div.well
                    ul#chat
                form#message-form(action='')
                    div.form-group
                        label Enter message
                        textarea.form-control#message
                        br
                        div.btn.btn-primary#sendBtn Send message