extends ./shared/_master.pug
block append styles
	script(src='./../controllers/test-controller.js')
block append page-content
	div.page-header
		h1 Hello #{name}, here are today's films
	div.row
		div.col-md-2
			div.well
				a.btn.btn-primary(href='/chat') Go to chat
		div.col-md-8
			div.well
				form(action="/test/upload" method="POST")
					input#usernameInput.form-control(name="fileToUpload", type="file", autofocus='')
					button.btn.btn-primary(type='submit')
						| Send